<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="container-carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <div class="carousel-item-con text-center">
                    <a href="https://ananas.vn/faqs">BUY MORE PAY LESS - ÁP DỤNG KHI MUA PHỤ KIỆN</a>
                </div>
                <!-- <h1 class="m-4 text-success"> 
                  This is the first slide 
              </h1> 
              <h4 class="m-4"> 
                  This slide has a time delay of 2000ms 
              </h4>  -->
            </div>
            <div class="carousel-item" data-bs-interval="4000">
                <div class="carousel-item-con text-center">
                    <a href="https://ananas.vn/faqs" tabindex="0">BUY 2 GET 10% OFF - ÁP DỤNG VỚI TẤT CẢ BASIC TEE</a>
                </div>
                <!-- <h1 class="m-4 text-danger"> 
                  This is the second slide 
              </h1> 
              <h4 class="m-4"> 
                  This slide has a time delay of 4000ms 
              </h4>  -->
            </div>
            <div class="carousel-item">
                <div class="carousel-item-con text-center">
                    <a href="https://ananas.vn/faqs/" tabindex="0">FREE SHIPPING VỚI HOÁ ĐƠN TỪ 900K !</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-item-con text-center">
                    <a href="https://ananas.vn/policy/" tabindex="0">HÀNG 2 TUẦN NHẬN ĐỔI - GIÀY NỬA NĂM BẢO HÀNH</a>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev" id="btn__prev" aria-label="btn__prev">
            <i class="fas fa-caret-left"></i>
        </button>
        <button type="" class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next" id="btn__next" aria-label="btn__next">
            <i class="fas fa-caret-right"></i>
        </button>

    </div>
</div>