<!-- <div class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="px-sm-2 px-0 bg-light side-bar">
    <div
      class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white width-bar"
    >
      <ul
        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
        id="menu"
      >
        <li>
          <a
            [routerLink]="['/dashboard']"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle text-black text-uppercase p-2"
          >
            <i class="fs-5 fas fa-home"></i>
            <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['../manage/product']"
            class="nav-link px-0 align-middle text-black text-uppercase p-2"
          >
            <i class="fs-5 fas fa-truck-loading"></i>
            <span class="ms-1 d-none d-sm-inline">Products</span></a
          >
        </li>
        <li>
          <a
            href="#"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle text-black text-uppercase p-2"
          >
            <i class="fs-5 fas fa-project-diagram"></i>
            <span class="ms-1 d-none d-sm-inline"> Categories</span></a
          >
        </li>
        <li class="d-flex justify-content-around text-uppercase p-2">
          <a
            href="#"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle text-black text-uppercase p-2"
          >
            <i class="fs-4 fab fa-wpforms"></i>
            <span class="ms-2 d-none d-sm-inline">Orders</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-0 align-middle text-black text-uppercase p-2"
          >
            <i class="fs-5 fas fa-users"></i>
            <span class="ms-1 d-none d-sm-inline">Customers</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="nav-link px-0 align-middle text-black text-uppercase p-2"
          >
            <i class="fs-5 fas fa-percent"></i>
            <span class="ms-1 d-none d-sm-inline"> Sales Promotion </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
