<ul class="nav justify-content-end bg-black">
  <li class="nav-item">
    <a class="nav-link text-light font-size-link" aria-current="page" href="#"
      ><i class="fas fa-cube me-2"></i><span>Tra cứu đơn hàng</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light font-size-link" href="#"
      ><i class="fas fa-map-marker-alt me-2"></i>
      <span>Tìm cửa hàng</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light font-size-link" href="#"
      ><i class="fas fa-heart me-2"></i> <span>Yêu thích</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      [routerLink]="['/login']"
      class="nav-link text-light font-size-link"
      href="#"
      ><i class="fas fa-user-alt me-2"></i> <span>Đăng nhập</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light font-size-link" href="#"
      ><i class="fas fa-shopping-cart me-2"></i>
      <span>Giỏ hàng (0)</span>
    </a>
  </li>
</ul>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown has-megamenu">
          <a
            class="nav-link dropdown-toggle text-uppercase fs-5 me-2"
            href="#"
            id="navbarDropdown1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sản Phẩm
          </a>
          <ul class="dropdown-menu megamenu" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <div class="divider"></div>
        <li class="nav-item dropdown has-megamenu">
          <a
            class="nav-link dropdown-toggle text-uppercase fs-5 me-2"
            href="#"
            id="navbarDropdown2"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nam
          </a>
          <ul
            class="dropdown-menu megamenu text-start"
            aria-labelledby="navbarDropdown2"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-4 p-3">
                  <div class="border-dashed-right">
                    <a class="dropdown-header mb-3"> Nổi Bật </a>
                    <a class="dropdown-item" href="#">Best Seller</a>
                    <a class="dropdown-item" href="#">New Arrival</a>
                    <a class="dropdown-item" href="#">Sale off</a>
                    <a class="dropdown-item fw-bolder fs-5 mt-3">Bộ sản phẩm</a>
                    <a class="dropdown-item" href="#">Pattas Living Journey</a>
                    <a class="dropdown-item" href="#">Pattas Polka Dots</a>
                    <a class="dropdown-item" href="#">Basas Evergreen</a>
                    <a class="dropdown-item" href="#">Urbas Ruler</a>
                    <a class="dropdown-item" href="#">Track 6 Class E</a>
                    <a class="dropdown-item fw-bolder fs-6 mt-3" href="#"
                      >Collaboration</a
                    >
                  </div>
                </div>
                <div class="col-md-4 p-3">
                  <a class="dropdown-header mb-3"> Giày </a>
                  <a class="dropdown-item" href="#">Basas</a>
                  <a class="dropdown-item" href="#">Vintas</a>
                  <a class="dropdown-item" href="#">Urbas</a>
                  <a class="dropdown-item" href="#">Pattas</a>
                  <a class="dropdown-item" href="#">Creas</a>
                  <a class="dropdown-item" href="#">Track 6</a>
                  <a class="dropdown-item fw-bolder fs-5 mt-3">Style</a>
                  <a class="dropdown-item" href="#">High Top</a>
                  <a class="dropdown-item" href="#">Low Top</a>
                  <a class="dropdown-item" href="#">Slip-on</a>
                  <a class="dropdown-item fw-bolder fs-6 mt-3" href="#"
                    >Tất cả giày</a
                  >
                </div>
                <div class="col-md-4 p-3">
                  <a class="dropdown-header mb-3"> Thời Trang & Phụ Kiện </a>
                  <h6 class="dropdown-item fw-bolder fs-5">Nửa trên</h6>
                  <a class="dropdown-item" href="#">Basic Tee</a>
                  <a class="dropdown-item" href="#">Graphic tee</a>
                  <a class="dropdown-item" href="#">Sweatshirt</a>
                  <a class="dropdown-item" href="#">Hoodie</a>
                  <a class="dropdown-item fw-bolder fs-5 mt-3">Phụ kiện</a>
                  <a class="dropdown-item" href="#">Nón</a>
                  <a class="dropdown-item" href="#">Dây giày</a>
                  <a class="dropdown-item" href="#">Vớ</a>
                  <a class="dropdown-item" href="#">Túi Tote</a>
                  <a class="dropdown-item fw-bolder fs-6 mt-3" href="#"
                    >Xem tất cả</a
                  >
                </div>
              </div>
            </div>
          </ul>
        </li>
        <div class="divider"></div>
        <li class="nav-item dropdown has-megamenu">
          <a
            class="nav-link dropdown-toggle text-uppercase fs-5 me-2"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nữ
          </a>
          <ul
            class="dropdown-menu megamenu text-start"
            aria-labelledby="navbarDropdown3"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-4 p-3">
                  <div class="border-dashed-right">
                    <a class="dropdown-header mb-3"> Nổi Bật </a>
                    <a class="dropdown-item" href="#">Best Seller</a>
                    <a class="dropdown-item" href="#">New Arrival</a>
                    <a class="dropdown-item" href="#">Sale off</a>
                    <a class="dropdown-item fw-bolder fs-5 mt-3">Bộ sản phẩm</a>
                    <a class="dropdown-item" href="#">Pattas Living Journey</a>
                    <a class="dropdown-item" href="#">Pattas Polka Dots</a>
                    <a class="dropdown-item" href="#">Basas Evergreen</a>
                    <a class="dropdown-item" href="#">Urbas Ruler</a>
                    <a class="dropdown-item" href="#">Track 6 Class E</a>
                    <a class="dropdown-item fw-bolder fs-6 mt-3" href="#"
                      >Collaboration</a
                    >
                  </div>
                </div>
                <div class="col-md-4 p-3">
                  <a class="dropdown-header mb-3"> Giày </a>
                  <a class="dropdown-item" href="#">Basas</a>
                  <a class="dropdown-item" href="#">Vintas</a>
                  <a class="dropdown-item" href="#">Urbas</a>
                  <a class="dropdown-item" href="#">Pattas</a>
                  <a class="dropdown-item" href="#">Creas</a>
                  <a class="dropdown-item" href="#">Track 6</a>
                  <a class="dropdown-item fw-bolder fs-5 mt-3">Style</a>
                  <a class="dropdown-item" href="#">High Top</a>
                  <a class="dropdown-item" href="#">Low Top</a>
                  <a class="dropdown-item" href="#">Slip-on</a>
                </div>
                <div class="col-md-4 p-3">
                  <a class="dropdown-header mb-3"> Thời Trang & Phụ Kiện </a>
                  <h6 class="dropdown-item fw-bolder fs-5">Nửa trên</h6>
                  <a class="dropdown-item" href="#">Basic Tee</a>
                  <a class="dropdown-item" href="#">Graphic tee</a>
                  <a class="dropdown-item" href="#">Sweatshirt</a>
                  <a class="dropdown-item" href="#">Hoodie</a>
                  <a class="dropdown-item fw-bolder fs-5 mt-3">Phụ kiện</a>
                  <a class="dropdown-item" href="#">Nón</a>
                  <a class="dropdown-item" href="#">Dây giày</a>
                  <a class="dropdown-item" href="#">Vớ</a>
                  <a class="dropdown-item" href="#">Túi Tote</a>
                  <a class="dropdown-item fw-bolder fs-6 mt-3" href="#"
                    >Xem tất cả</a
                  >
                </div>
              </div>
            </div>
          </ul>
        </li>
        <div class="divider"></div>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fs-5 me-2"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Sale Off</a
          >
        </li>
      </ul>
      <div class="right-menu-list me-5">
        <div class="search-bar">
          <form class="search-form d-flex align-items-center">
            <input
              class="form-control"
              type="text"
              name="query"
              placeholder="Search"
              title="Enter search keyword"
            />
            <button type="submit" title="Search">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
