<app-nav-header></app-nav-header>
<div class="container-fluid">
  <div class="row bg-full">
    <div class="login-wrapper">
      <p class="text-light text-uppercase name-wrapper">Coming soon</p>
      <p class="text-light">Đăng kí ngay Email để nhận thông tin sớm nhất!</p>
      <div class="center-form">
        <div class="send-mail">
          <form class="mail-form col-md-12 col-lg-12 d-flex align-items-center">
            <input class="form-control" type="email" name="query" />
            <button type="submit" title="Send">
              <i class="fas fa-arrow-right"></i>
            </button>
          </form>
        </div>
      </div>
      <p class="text-light mt-5">
        Theo dõi chúng tôi trên các trang mạng xã hội:
      </p>
      <div class="d-flex justify-content-center gap-4">
        <a href=""><i class="fab fa-facebook-f fs-2 text-light"></i></a>
        <a href=""><i class="fab fa-instagram fs-2 text-light"></i></a>
        <a href=""><i class="fab fa-youtube fs-2 text-light"></i></a>
      </div>

      <button class="go-to-home text-uppercase">Quay lại trang chủ</button>
    </div>
  </div>
</div>
