.btn-add {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.card {
  background-color: #ffffff;
  padding: 2vw;
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details {
  border: 2px dashed #f15e2c;
  width: 500px;
}
.container-fluid {
  transition: margin-left 0.3s ease;
}

.sidebar-open .container-fluid {
  margin-left: 80px; /* Điều chỉnh giá trị này tùy thuộc vào chiều rộng của sidebar */
}

.row.flex-nowrap {
  transition: margin-left 0.3s ease;
}

.sidebar-open .row.flex-nowrap {
  margin-left: 80px; /* Điều chỉnh giá trị này tùy thuộc vào chiều rộng của sidebar */
}
.search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 2px solid gray;
  padding: 12px 38px 12px 8px;
  border-radius: 20px;
}
.search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
  color: grey;
}
.table-pink {
  background-color: rgb(222, 153, 176);
}
.name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 500px;
  font-size: 0.9vw;
}

td {
  border-bottom: none;
}
.th-product {
  border-bottom: 5px solid white;
}
table th:nth-child(1) {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
table th:nth-last-child(1) {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.tr-product {
  border-radius: 12px;
}
.tr-product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
}
.avail,
.out {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid;
  text-align: center;
}
.avail {
  color: #6ecfb9;
  font-size: 12px;
  border: 1px solid #6ecfb9;
}
.out {
  color: #ff4d4d;
  font-size: 12px;
  border: 1px solid #ff4d4d;
}
span,
h2,
input,
textarea,
select,
label {
  font-family: "Mona-Sans", sans-serif;
}
span {
  font-weight: 400;
  font-size: 14px;
}
