.color-light-orange {
  color: orange;
}
.color-lavender-purple {
  color: #A883BA;
}
.color-brown {
  color: #b87c4c;
}
.color-dange {
  color: #f1c8db;
}
.color-lightblue {
  color: #a7daff;
}
.color-lightyellow {
  color: #ffe28c;
}
