<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Customers</span>
          <div><span class="fs-6 fw-bold me-2">54,208</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-users fs-3 color-light-orange"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Order</span>
          <div><span class="fs-6 fw-bold me-2">2314</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-shopping-cart fs-3 color-lavender-purple"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Avg Sale</span>
          <div><span class="fs-6 fw-bold me-2">$1770</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-percent fs-3 color-brown"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Avg Item Sale</span>
          <div><span class="fs-6 fw-bold me-2">185</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-calculator fs-3 color-dange"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Total Sale</span>
          <div><span class="fs-6 fw-bold me-2">$35000</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-fax fs-3 color-lightblue"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Visitors</span>
          <div><span class="fs-6 fw-bold me-2">11452</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-user-friends fs-3 text-success"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Total Products</span>
          <div><span class="fs-6 fw-bold me-2">184511</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-suitcase fs-3 color-light-orange"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Top Selling Item</span>
          <div><span class="fs-6 fw-bold me-2">122</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-star fs-3 color-lightyellow"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
    <div class="card d-flex">
      <div
        class="card-body py-xl-4 py-3 d-flex flex-wrap align-items-center justify-content-between"
      >
        <div class="left-info">
          <span class="text-muted">Dealership</span>
          <div><span class="fs-6 fw-bold me-2">32</span></div>
        </div>
        <div class="right-icon">
          <i class="fas fa-handshake fs-3 color-lavender-purple"></i>
        </div>
      </div>
    </div>
  </div>
</div>
